<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table class="table">
  <thead>
    <tr>
      <th>Page</th>
      <th>Name</th>
      <th>Content type</th>
      <th>Content</th>
      <th>Visible</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.page.name %></td>
        <td><%= section.name %></td>
        <td><%= section.content_type %></td>
        <td><%= section.content %></td>
        <td><%= section.visible %></td>
        <td><%= section.position %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
