<p>
  <strong>Page:</strong>
  <%= @section.page.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @section.content_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @section.content %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @section.visible %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
