<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table  class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Permalink</th>
      <th>Position</th>
      <th>Visible</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.permalink %></td>
        <td><%= page.position %></td>
        <td><%= page.visible %></td>
        <td><%= page.subject_id %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
